##注意 ,此宏中的参数$htmlStr在传入时,不要用引号或双引号包裹
##转回HMTL输出，通常用在HTML内容显示。
#macro ( direct $direct-output )$!direct-output#end
##注意 ,此宏中的参数$htmlStr在传入时,不要用引号或双引号包裹
##转回HMTL输出，通常用在HTML内容显示。
#macro ( html $direct-output )$!direct-output#end
##注意 ,此宏中的参数$htmlStr在传入时,不要用引号或双引号包裹
##过滤HTML标签，输出纯文字内容。
#macro ( trimHtml $htmlStr $count)#if($count)$!htmlUtils.parseHtml("#html($!htmlStr)",$!count)#else $!htmlUtils.parseHtml("#html($!htmlStr)") #end #end

## 国际化语言信息, 信息内容配置在数据库中,方便后期维护和修改,
#macro (dbMsg $msgKey $msgArgs $msgArgs $defaultMsg $locale)$!msgUtil.vmMsg($request,$msgKey,$msgArgs,$defaultMsg,$locale)#end



	
##生成前台页面上的静态分页条组件
## $pageObj 分页对象,
## $urlPre 分页条前部分URL, 不需要以/开头和结尾
#macro (frontPageBarHtml $pageOb $urlPre ) 
	<div class="pagebar" targettype="$!{pageType}" totalcount="$!{page.totalCount}" numperpage="$!{page.numPerPage}" pagenumshown="$!{page.pageNumShown}" currentpage="$!{page.currentPage}">
		<span>共$!{page.totalCount}条</span>
		<a href="$appServer.get("/front/post/${urlPre}/$!{page.numPerPage}/1.htm")" title="首页"><span class="page first-page">«首页</span></a>
	## 只显示当前页码前后几页以及当前页码.
		#foreach($pNo in $!{page.linkPageNumbers})
			#if($pNo == $!{page.currentPage})
				<span class="page now-page" >$!{page.currentPage}</span>
			#else
				<a href="$appServer.get("/front/post/${urlPre}/${page.numPerPage}/${pNo}.htm")" title="第${pNo}页"><span class="page">$pNo</span></a>
			#end
		#end
		<a href="$appServer.get("/front/post/${urlPre}/${page.numPerPage}/${page.lastPageNumber}.htm")" title="末页"><span class="page last-page">末页»</span></a>
	</div>
#end   

##生成前台页面上的分页条组件，需要配合common.js里的两个JS函数使用.
## $pageObj 分页对象,
#macro (frontPageBar $pageObj) 
	<div class="pagebar" targettype="$!{pageType}" totalcount="$!{page.totalCount}" numperpage="$!{page.numPerPage}" pagenumshown="$!{page.pageNumShown}" currentpage="$!{page.currentPage}">
		<span>每页</span>
		<select class="combox" onchange="pageBreak(this.value)" name="numPerPage" param="numPerPage">
			<option value="10" #if("$!{page.numPerPage}"=="10") selected="selected" #end>10</option>
			<option value="20" #if("$!{page.numPerPage}"=="20") selected="selected" #end>20</option>
			<option value="50" #if("$!{page.numPerPage}"=="50") selected="selected" #end>50</option>
			<option value="100" #if("$!{page.numPerPage}"=="100") selected="selected" #end>100</option>
			<option value="200" #if("$!{page.numPerPage}"=="200") selected="selected" #end>200</option>
		</select>
		<span>条，共$!{page.totalCount}条</span>
		<a href="javascript:goPage(1);" title="首页"><span class="page first-page">«首页</span></a>
	## 只显示当前页码前后几页以及当前页码.
		#foreach($pNo in $!{page.linkPageNumbers})
			#if($pNo == $!{page.currentPage})
				<span class="page now-page" >$!{page.currentPage}</span>
			#else
				<a href="javascript:goPage($pNo);" title="第${pNo}页"><span class="page">$pNo</span></a>
			#end
		#end
		<a href="javascript:goPage($!{page.lastPageNumber});" title="末页"><span class="page last-page">末页»</span></a>
	</div>
#end   

##生成DWZ页面上的分页条组件，
## $pageObj 分页对象,
## $pageType 为窗口dialog，导航Tab：navTab.
#macro (dwzPageBar $pageObj $pageType) 
    #if("$pageType"!="dialog")
        #set($pageType="navTab")
    #end 
    <div class="panelBar">
        <div class="pages">
            <span>每页</span>
            <select class="combox" onchange="${pageType}PageBreak({numPerPage:this.value})" name="numPerPage" param="numPerPage">
                <option value="10" #if("$!{page.numPerPage}"=="10") selected="selected" #end>10</option>
                <option value="20" #if("$!{page.numPerPage}"=="20") selected="selected" #end>20</option>
                <option value="50" #if("$!{page.numPerPage}"=="50") selected="selected" #end>50</option>
                <option value="100" #if("$!{page.numPerPage}"=="100") selected="selected" #end>100</option>
                <option value="200" #if("$!{page.numPerPage}"=="200") selected="selected" #end>200</option>
            </select>
            <span>条，共$!{page.totalCount}条</span>
        </div>
        <div class="pagination" targetType="$!{pageType}" totalCount="$!{page.totalCount}" numPerPage="$!{page.numPerPage}" pageNumShown="$!{page.pageNumShown}" currentPage="$!{page.currentPage}"></div>
    </div>
#end      



##将枚举组装成下拉选择框
## $enumObj枚举对象,
## $elName为下拉框的Name,默认为:postType.
## $curValue为当前值,则默认选中这项,且,如果页面中有类目组件,自动关联类目可选数据.
## $selectAllText请选择的文本,如果需要这个选项,请传入要显示的文字,默认为不显示这个值选项.
## $readOnly表示是否是只读,如果是只读的话,下拉中就只显示当前值.非空白表示只读,null或空白表示非只读
#macro (enumSelectEl $enumObj $elName $curValue $selectAllText $readOnly $class) 
    #if(!$elName) #set($elName="postType") #end
    <select name="$!elName" class="combox $!class">## 
       #if("$!curValue"!=""&&"$!readOnly"!="") #set($ro="1") #end 
        #if("$ro"!="1"&&"$selectAllText"!="")
        <option value="" #if("$!curValue"=="") selected="selected" #end>$!selectAllText</option>
        #end
        #foreach($enObj in $enumObj)
            #if("$ro"!="1")
        <option value="$!enObj.code" #if("$!curValue"=="$!enObj.code") selected="selected" #end>$!enObj.desc</option>
            #elseif("$!curValue"=="$!enObj.code")
        <option value="$!enObj.code" selected="selected">$!enObj.desc</option>
            #end
        #end
    </select>
#end            
            
            
## 将系统缓存中的$cfg_group_name (group+"_"+name)类型,组装成Select控件,
## $elName为下拉框的Name,默认为:postType.
## $curValue为当前值,则默认选中这项,且,如果页面中有类目组件,自动关联类目可选数据.
## $selectAllText请选择的文本,如果需要这个选项,请传入要显示的文字,默认为不显示这个值选项.
## $readOnly表示是否是只读,如果是只读的话,下拉中就只显示当前值.非空白表示只读,null或空白表示非只读
## $cfg_group_name 要查找的网站配置name, 由webconfig表里 group+"_"+name 组成.
#macro (webConfigSelectEl $elName $curValue $selectAllText $readOnly $class $cfg_group_name) 
	#if(!$elName) #set($elName="postType") #end
	<select name="$!elName" class="combox $!class">## 
	   #if("$!curValue"!=""&&"$!readOnly"!="") #set($ro="1") #end 
		#if("$ro"!="1"&&$selectAllText)
		<option value="" #if("$!curValue"=="") selected="selected" #end>$!selectAllText</option>
		#end
		#if($cfg_group_name == "") $cfg_group_name = "postType" #end
		#foreach($codeDesc in $webCacheUtils.webConfigValueJson($cfg_group_name))
			#if("$ro"!="1")
		<option value="$!codeDesc.code" #if("$!curValue"=="$!codeDesc.code") selected="selected" #end>$!codeDesc.desc</option>
		    #elseif("$!curValue"=="$!webConfig.value")
		<option value="$!codeDesc.code" selected="selected">$!codeDesc.desc</option>
		    #end
		#end
	</select>
#end

#macro ( c $paras )
    #if($!paras)
        #set($content = "")
        #set($key = "")
        #set($value = "")
        #foreach($para in $paras)
            #if($velocityCount == 1)
                #set($content = $contain.get($!para))
            #else
                #if($velocityCount % 2 == 0)
                    #set($key = $para)
                #else
                    #set($value = $para)
                #end
                #set($content = $content.setParameter($key, $value))
            #end
        #end
        $!content
    #end
#end
