#set($layout = '')
## 加载默认首页
#set($title="后台首页")
        <div id="footer">
            Copyright &copy; 2011 
            <a href="http://www.busfly.net" title="巴士飞扬技术支持" target="navTab">busfly</a>
         || <a href="$appServer.get('/admin/dev-help.htm')" target="navTab" rel="dwz_tab_dev-help">开发手册</a>
        </div>
    