#set($layout = '')

<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href='$appServer.get("/admin/role/rolePermissionAddJson/${role.id}.htm?dwzId=$!{dwzId}&targetType=$!{targetType}")' 
                target="selectedTodo" rel="permissionKey_in"  targetType="$!{targetType}" 
                title="#dbMsg('function.add')#dbMsg('Permission')">
                <span>#dbMsg("function.addBatch")</span>
                </a>
            </li>
            ## <li><a class="icon" href="javascript:void(0);"><span>按钮</span></a></li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="56" >
        <thead>
            <tr >
               <th width="40"><input type="checkbox" group="permissionKey_in" class="checkboxCtrl"></th>
               <th width="120"  >#dbMsg("Permission.permissionKey")</th>
               <th width="160" >#dbMsg("Permission.permissionName")</th>
               <th >#dbMsg("Permission.uri")</th>
               
            </tr>
        </thead>
        <tbody>
           #foreach($rs in $permissions)
           <tr target="permissionKey_in" rel="$!rs.permissionKey"> ## target="id" rel="$!rs.id" 这两个是用在AjaxURL中的占位({target})数据(rel)来源
                <td><input name="permissionKey_in" value="$!rs.permissionKey" type="checkbox"></td>
                <td>
                    #trimHtml($!rs.permissionKey,120)
                </td>
                <td>
                    #trimHtml($!rs.permissionName,120)
                </td>
                <td>
                    #trimHtml($!rs.uri,256)
                </td>
        
            </tr>
            #end
        </tbody>
    </table>
</div>

